.bg-path {
  background-image: url(../src/assets/Path.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-top {
  background-image: url(../src/assets/bg-top.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-path_1 {
  background-image: url(../src/assets/line.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-purple {
  background-image: url(../src/assets/purple.png);
  background-position: right;
  background-repeat: no-repeat;
}

.bg-dog {
  background-image: url(../src/assets/bg_dog.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.bg-dog-2 {
  background-image: url(../src/assets/bg_dog_1.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.bg-footer {
  background-image: url(../src/assets/footer.png);
  background-position: center right;
  background-repeat: no-repeat;
}

.rounded-4xl {
  border-radius: 4rem;
}

.slick-slide {
  padding: 20px;
}

.slick-list {
  padding: -20px;
}